{% extends 'base.html' %}
{% block title %}Card Info{% endblock %}

{% block content %}
<div class="container-sm mt-2">
    <div class="row justify-content-center">
        <div class="col-4" style="min-width: 320px;">
            <div>
                <img class="card-img img-fluid" src="{{ card.image_url }}" alt="{{ card.name }}">
            </div>
        </div>
        <div class="col-8">
            <ul class="list-group" style="min-width: 320px;">
                <li class="list-group-item bg-light p-2">
                    <h2 class="m-0">
                        {{ card.name }} - 
                        <small>
                            {{ card.digi_type }}
                        </small>
                    </h2>
                </li>
                <li class="list-group-item container">
                    {% for stat_group in stat_list %}
                    <ul class="list-group list-group-horizontal mb-2">
                        {% for stat in stat_group %}
                        <li class="list-group-item col-4 stat p-2 bg-light">
                            <p class="m-0">
                                <small>
                                    {{ stat[0] }}
                                </small>
                            </p>
                            <span>
                                {{ stat[1] }}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </li>
            </ul>
            {% if card.main_effect or card.source_effect %}
            <ul id="effect" class="list-group mt-2">
                <li class="list-group-item bg-light">
                    <h4 class="m-0">
                        Card Effect
                    </h4>
                </li>
                <li class="list-group-item">
                    {% if card.main_effect != None %}
                    <p>
                        {{ card.main_effect }}
                    </p>
                    {% endif %}
                    {% if card.source_effect != None %}
                    <h5>
                        Inherited Effect
                    </h5>
                    <p>
                        {{ card.source_effect }}
                    </p>
                    {% endif %}
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
