body {
    margin: 0;
    padding: 0;
}

/* ######## navbar ######## */

#logo {
    height: 3em;
    width: 3em;
}

.navbar {
    background-color: rgb(40, 94, 255);
}

.nav-link {
    color: #d7dee2;
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
    color: rgb(255, 140, 0)
}

#avatar {
    height: 2.5em;
    width: 2.5em;
}

/* ######## homepage ######## */

.decks {
    width: 30vw;
}

.decks img {
    display: block;
    margin: 0 auto;
}

/* ######## search ######## */

.search-window {
    position: absolute;
    margin-top: 0;
    margin-left: 50%;
    padding: 1.5em;
    transform: translate(-50%);
    height: 100%;
    width: 60vw;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 2px 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

#list-cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: space-evenly;
}

.card {
    height: 13em;
    width: 9em;
    border-radius: 5px;
}

.card-img:hover {
    cursor: pointer;
}
.card-img {
    width: 100%;
    height: 100%;
    z-index: 1;
}