body {
    margin: 0;
    padding: 0;
}

/* ######## navbar ######## */

#logo {
    height: 3em;
    width: 3em;
}

.navbar {
    background-color: rgb(40, 94, 255);
}

.nav-link {
    color: #d7dee2;
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
    color: rgb(255, 140, 0)
}

#avatar {
    height: 2.5em;
    width: 2.5em;
}

/* ######## homepage ######## */

.decks {
    width: 30vw;
}

.decks img {
    display: block;
    margin: 0 auto;
}

