body {
    margin: 0;
    padding: 0;
}

/* ######## navbar ######## */

#logo {
    height: 2.5em;
    width: 2.5em;
}

.navbar {
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 0;
}

.nav-item {
    margin-left: 1em;
}

.nav-link {
    color: #d7dee2;
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
    color: rgb(255, 140, 0)
}

#avatar {
    height: 2em;
    width: 2em;
    border-radius: 20%;
}

/* ######## homepage ######## */

.decks {
    width: 30vw;
    max-width: 500px;
}

.decks img {
    display: block;
    margin: 0 auto;
}

/* ######## search ######## */

#search-window {
    position: absolute;
    margin-left: 50%;
    padding: 1em 2em 1em 2em;
    transform: translate(-50%);
    width: 80vw;
    max-width: 1100px;
    height: 90vh;
    overflow: auto;
    border: .08em solid rgba(0, 0, 0, 0.3);
    box-shadow: .2em .1em .1em rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    z-index: 2;
}

.close {
    font-size: 1.2em;
    border: none;
    transition: 250ms ease-out;
}

.close:hover {
    transform: scale(1.3);
    color: rgb(160, 0, 0);
    font-weight: bold;
    transition: 250ms ease-in;
}

.list-cards {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(5,minmax(10em, 1fr));
    min-width: 0px;
    padding-bottom: 1em;
}

/* ######## cards ######## */

.card-img {
    width: 102%;
    height: 102%;
    border: none;
    border-radius: 4%;
    box-shadow: .2em .1em .1em rgba(0, 0, 0, 0.2);
    transition: 250ms ease-out;
    z-index: 1;
}

.search-card {
    max-width: 20vw;
    max-height: 320px;
}

.search-card-img:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: .4em .3em .3em rgba(0, 0, 0, 0.2);
    transition: 250ms ease-in-out;
}

.stat {
    word-wrap: break-word;
}

#effect{
    padding: 0 ;
}

/* ######## user detail ######## */

#profile-avatar {
    width: 3em;
    margin-right: 1em;
    border-radius: 10%;
}

.banner {
    width: 60vw;
    max-width: 1000px;
}

#delete-conf {
    margin-top: 2em;
    margin-left: 50%;
    transform: translate(-50%);
    border: .1em solid rgba(0, 0, 0, 0.3);
    border-radius: 1%;
    width: 40vw;
    max-width: 500px;
    min-width: 320px;
    position: absolute;
    z-index: 1;
}

/* ######## decks ######## */

#list-decks {
    height: 60vh;
}
#list-decks li {
    border: none;
    border-radius: 5%;
}
#list-decks .card {
    border: none;
    height: 4em;
    overflow: hidden;
    display: flex;
}
#list-decks a {
    text-decoration: none;
}
#list-decks-img .card-img-top {
    width: 100%;
    object-fit: contain;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

#adv-search .filter {
    max-width:10em;
}

.filter {
    margin-right: .7em;
}
#clear {
    font-size: 1.2em;
    border: none;
    padding-bottom: .6em;
    z-index: 1;
}
.db-search-results {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    height: 45vw;
    max-height: 400px;
    overflow:auto;
    padding: 2em;
}

.decklist {
    height: 20vh;
}