{% extends 'base.html' %}

{% block title %}User Decks{% endblock %}

{% block content %}
<div class="container-sm-fluid">
    <div class="row mx-auto">

        <div id="decks" class="col-4 col-sm-2 bg-secondary p-0">
            <ul id="list-decks" class="container-sm">
            {% if decks %}
                {% for deck in decks %}
                <li class="row justify-content-center rounded m-2 search-card-img">
                    <div class="card col-12 p-0 text-center">
                        <img src="{{ deck.HDP_deck_img }}" alt="" class="card-img-top">
                        <a href="{{ url_for( 'show_deck', deck_id=deck.id ) }}" class="text-light card-img-overlay rounded">
                            {{ deck.name }}
                        </a>
                    </div>
                </li>
                {% endfor %}
            {% else %}
            <div id="no-decks" class="row m-3">
                <p class="text-dark text-center"><i>~No decks listed~</i></p>
            </div>
            {% endif %}
            </ul>
        </div> 

        <div class="col-8 col-sm-10 mt-3">
            <div class="container-fluid">

                <div id="pre-DB-content" class="row justify-content-center">
                    {% if decks | length == 0 %}
                    <h2 class="text-center">
                        Don't have any decks yet?
                    </h2>
                    <h5 class="text-center m-2">
                        Create one below!
                    </h5>
                    {% endif %}
                    <button id="deck-builder-btn" class="btn btn-lg btn-primary col-6 col-md-3">
                        Deck Builder
                    </button>
                </div>

                <div id="DB" class="row d-none justify-content-center">
                    <h2>
                        Deck Builder
                    </h2>
                    {{ adv_form.hidden_tag() }}
                    <form class="adv-search">
                        <input id="adv-input" placeholder="Search card name" name="n" type="search" 
                        class="form-control mb-3">
                        <div class="d-flex">
                            {% for field in adv_form if field.widget.input_type != 'hidden' %}
                                {{ field(class="form-control bg-light filter mb-2") }}
                                {% for error in field.errors %}
                                    <small class="text-danger">
                                    {{ error }}
                                    </small>
                                {% endfor %}
                            {% endfor %}
                        <button id="clear" class="btn btn-sm btn-basic" data-bs-toggle="tooltip" title="Clear search filters.">
                            <i class="fa-sharp fa-solid fa-rotate"></i>
                        </button>
                        </div>
                        <button id="search-btn" class="btn btn-md btn-primary">Search</button>
                    </form>
                    <div class="col-9 col-md-4 m-2">
                        <select class="form-control bg-light" name="card-sorter" id="card-sorter">
                            <option value="main">Add to Main/Egg Deck</option>
                            <option value="side">Add to Side Deck</option>
                        </select>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row list-cards d-flex justify-content-between db-search-results">
                        </div>
                        <form id="save-deck" class="col-10 col-md-4 d-flex m-2 justify-content-between p-0">
                            <input type="text" placeholder="Name your deck" name="deck-name" id="deck-name" class="form-control m-1">
                            <button class="btn btn-md btn-success form-control m-1">Save Deck</button>
                        </form>
                        <ul class="list-group p-0">
                            <li class="list-group-item bg-light p-1 d-flex">
                                <h2 class="m-0">
                                    Main Deck
                                </h2>
                                <span class="deck-counter">
                                    <span id="MD-count">
                                        0
                                    </span>
                                    /50
                                </span>
                                <button id="clear-main" class="btn btn-sm btn-basic" data-bs-toggle="tooltip" title="Clear main deck.">
                                    <i class="fa-sharp fa-solid fa-rotate"></i>
                                </button>
                            </li>
                            <li data-deck-type="mainDeck" class="list-group-item main-deck decklist-area db-decklist">
                
                            </li>
                        </ul>
                        <ul class="list-group p-0">
                            <li class="list-group-item bg-light p-1 d-flex">
                                <h2 class="m-0">
                                    Egg Deck
                                </h2>
                                <span class="deck-counter">
                                    <span id="ED-count">
                                        0
                                    </span>
                                    /5
                                </span>
                            </li>
                            <li data-deck-type="eggDeck" class="list-group-item egg-deck decklist-area db-decklist">
                
                            </li>
                        </ul>
                        <ul class="list-group p-0">
                            <li class="list-group-item bg-light p-1 d-flex">
                                <h2 class="m-0">
                                    Side Deck
                                </h2>
                                <span class="deck-counter">
                                    <span id="SD-count">
                                        0
                                    </span>
                                    /10
                                </span>
                            </li>
                            <li data-deck-type="sideDeck" class="list-group-item side-deck decklist-area db-decklist">
                
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}