{% extends 'base.html' %}

{% block title %}Deck Details{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="row justify-content-center">
        <h1 class="text-center">
            {{ deck.name }}
        </h1>
        {% if current_user.id == deck.user_id %}
            <form action="" class="col-4 col-sm-3 col-md-2 mb-2">
                <button class="btn btn-md btn-primary form-control">
                    Share Deck
                </button>
            </form>
            <form action="{{ url_for( 'show_deck', deck_id=deck.id ) }}" method="post" class="col-4 col-sm-3 col-md-2 mb-2">
                <button class="btn btn-md btn-outline-danger form-control">
                    Delete Deck
                </button>
            </form>
        {% endif %}

        <ul class="list-group p-0 col-12">
            <li class="list-group-item bg-light p-1 d-flex">
                <h2 class="m-0">
                    Main Deck
                </h2>
            </li>
            <li class="list-group-item main-deck decklist-area">
                {% for card,qty in main_cards %}
                    <div data-card-num='{{ card.cardnumber }}' class='search-card d-flex'>
                        <img class='card-img search-card-img' src='{{ card.image_url }}' alt='{{ card.name }}'>
                        <div id="card-qty" class="text-center text-light align-self-end">
                            {{ qty }}
                        </div>
                    </div>
                {% endfor %}
            </li>
        </ul>
        {% if egg_cards | length %}
        <ul class="list-group p-0">
            <li class="list-group-item bg-light p-1 d-flex">
                <h2 class="m-0">
                    Egg Deck
                </h2>
            </li>
            <li class="list-group-item egg-deck decklist-area">
                {% for card,qty in egg_cards %}
                    <div data-card-num='{{ card.cardnumber }}' class='search-card d-flex'>
                        <img class='card-img search-card-img' src='{{ card.image_url }}' alt='{{ card.name }}'>
                        <div id="card-qty" class="text-center text-light align-self-end">
                            {{ qty }}
                        </div>
                    </div>
                {% endfor %}
            </li>
        </ul>
        {% endif %}
        {% if side_cards | length %}
        <ul class="list-group p-0">
            <li class="list-group-item bg-light p-1 d-flex">
                <h2 class="m-0">
                    Side Deck
                </h2>
            </li>
            <li class="list-group-item side-deck decklist-area">
                {% for card,qty in side_cards %}
                    <div data-card-num='{{ card.cardnumber }}' class='search-card d-flex'>
                        <img class='card-img search-card-img' src='{{ card.image_url }}' alt='{{ card.name }}'>
                        <div id="card-qty" class="text-center text-light align-self-end me-auto">
                            {{ qty }}
                        </div>
                    </div>
                {% endfor %}
            </li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}