{% extends 'base.html' %}

{% block title %}User Decks{% endblock %}

{% block content %}
<div class="container-sm-fluid m-0 p-0">
    <div class="row m-0">
        <div id="list-decks" class="col-3 justify-content-center bg-secondary">
            {% if decks %}
            <ul class=" container-sm">
                {% for deck in decks %}
                <li class="row justify-content-center m-2">
                    <div class="card col-12 p-0 text-center">
                        <img id="list-deck-img" src="{{ highest_dp_card_img(main_cards(deck.main_decklist_id)) }}" alt="" class="card-img-top">
                        <a href="/decks/{{ deck.id }}"
                        style="background-image: url('{{ highest_dp_card_img(main_cards(deck.main_decklist_id)) }}');" class="text-light card-img-overlay">
                            {{ deck.name }}
                        </a>
                    </div>
                </li>
                {% endfor %}
            {% else %}
            <li class="row m-3">
                <p class="text-dark text-center"><i>~No decks listed~</i></p>
            </li>
            </ul>
            {% endif %}
        </div>
        <div class="col-9 p-0">
            <div class="container-sm-fluid">
                {% if decks | length == 0 %}
                <h2 class="text-center">Don't have any decks yet?</h2>
                <h5 class="text-center m-2">
                    Create one below!
                </h5>
                {% endif %}
                <form action="/deck_builder" class="row justify-content-center m-3">
                    <button class="btn btn-lg btn-primary col-3" type="submit">
                        Deck Builder
                    </button>
                </form>
            </div>
            <div class="row mt-5">
                <h2 class="text-center">
                    Or check out these starter decks!
                </h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 justify-content-center">
                    <div class="card bg-light">
                        <h4 class="card-title text-center">
                            Starter Deck1
                        </h4>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card bg-light">
                        <h4 class="card-title text-center">
                            Starter Deck2
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}